.row1{
     outline:white solid 0.5px;
     border-radius: 3px;
     color:rgba(0,0,0,0.4);
     font-weight: bold;
     border: none;
     margin: 0;
     background: rgba(0,0,0,0.2);
     font-family: helvetica, arial, sans-serif;
     font-size: 19pt;
 }
 
 .custom-item {
    width: 50%;
    float: left;
    height: 300px;
    opacity: 0.6;
  }

  .text
  {
      text-align: center;
  }
