.header-card-one
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.header-card-two
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.card-header
{
    background-color: #488aff;

}

