
 .sidemenu-profile-container{
background-image: url('../assets/img/ipv4-5.jpg'); 
  background-size: 335px 235px;
  background-repeat: no-repeat;
	height: 230px;

}

.profile-photo-round {
  border-radius: 50%;
  margin-left:10px;
  width:80px;
  height:80px;
  margin-top:-40px;
  float:left;  
}

 .sidemenu-label-profile-name {
   font-size:18px;
   font-weight:bold;
   margin:0px;
   margin-left:5px;
   color:#0A0A06;
 }
