.adrs{
    width: 15%;
}

ion-content{
    overflow-x: auto;
}
.result {
    
    align-content:center;
    }
    .result .label {
    display:inline-block;
    width:20%;
    background: green;
    align-content:center;
    }